# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*.local

# OS-specific
.DS_Store
Thumbs.db

# Editor-specific
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Coverage
coverage/
.nyc_output/

# Build outputs
dist/
build/

# Optional MongoDB dump/backups
dump/

# Optional: Ignore uploads if stored locally
uploads/
